body {
  font-family: 'source sans pro' ,sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
  line-height: 1.4;
  color:  #7f969e;
  padding: 24px 20px;
}


header {
background-color:#2A2A2A;
position: relative;
box-shadow: 0px 3px 8px 0px rgba(0,0,0,.5);
}

header > div {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header nav {
  display: flex;
  align-items: center;
}
header img {
  margin: 16px 0px;

}

header nav a {
  text-transform: uppercase;
  color: #d4d4d4;
  font size: 13px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 2px;
  transition: all .3s;

}
nav a#blue {
  background-color: #107698;
  color: white;
}

nav a#orange {
  color: #fdb530;
}


nav a#orange:hover {
  color:white;
}



#pageNameContainer {
  height: 50px;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  text-align: center;
  padding: 70px 0;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  text-shadow: 1px 2px 3px black;
  text-align: center;
}

section.contentContainer {
  background-color: #fff;
  padding:54px 0;
}

section.contentContainer.backgroundGrey {
  background-color: #EDEff3;
}

section.contentContainer h2 {
  font-size: 34px;
  font-weight: 300;
  color: #0a465b;
  text-align: center;
  margin-bottom: 32px;
}

section.contentContainer > p {
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;

}

section.contentContainer p span.highlight {
  color: orange;
}

section.blockStyle div.flexContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
}


section#blockStyle2 div.flexContainer {
  gap: 80px;
}

section.blockStyle article {
  width: 260px;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
  background-color: white;
  display: inline-block;

}

section#blockstyle2 article {
  width: 320px;
}

section.blockStyle article h3 {
  font-size: 30px;
  font-weight: 300;
  background-color: #107698;
  color: white;
  text-transform: uppercase;
  font-variant: all-small-caps;
  padding: 0 16px;
  text-align: center;
  min-height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.blockStyle article p {
  border-top: 5px solid #d1d1d0;
  padding: 24px 20px;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);
}


section.nakedStyle div.flexContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  justify-content: center;
  margin-top: 48px;
  width: 1150px;
  margin: 48px auto 0;
}

section.nakedStyle article {
  width: 350px;
  margin-bottom: 32px;
}

section.nakedStyle article h3 {
  font-size: 16px;
  color: #0a465b;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 600;
  text-align: center;
  letter-spacing: .5px;
  border-bottom: 2px solid #FDB530;
  padding-bottom: 16px;
  margin-bottom: 16px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

section.nakedStyle article p {
  text-align: center;
}

#getInTouch section {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}

#getInTouch section .left img {
  border-radius: 50%;
  border: 8px solid rgba(255,155,0,.7); */

}

#getInTouch section .left > div {
font-size:18px;
border-top: 1px solid #107698;
border-bottom: 1px solid #107698;
padding: 8px 24px;
margin-top: 16px;
color: #808080;
}

#getInTouch input {
  background-color: #107698;
  color: white;
  font-size: 22px;
  padding: 12px 48px;
  width: 200px;
  border-radius: 6px;
  border: 2px solid orange;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 50%);
  margin-left: 32px;*/
}
/*.seperator1 img {
  position: absolute;
  height: 10px
} */

.seperator1 {
  width: 3px;
  height: 240px;
  background-color: darkgrey;
}

#getInTouch a {
  display: inline-block;
  border: 5px solid lightgrey;
  border-radius: 50%;
  position: relative;
  top: 0px;
  margin: 0 12px;
}

.seperator2 {
  border-top: 4px solid #dfdfe0;
  margin: 36px 0;
}

#getInTouch a:hover {
  top: 5px;
}
#trustedBy img {
  display: block;
  margin: 24px auto 0;
}

footer {
  padding: 40px 0;
  background-color: #504f4f;
  text-align: center;
  color: #c7c5c5;
  font-size: 18px;
  line-height: 1.4;
}
